In [81]:
import pandas as pd 

# Set pandas option to display all columns beside each other
pd.set_option("display.width", 150)

# read dataSet csv
df = pd.read_csv("cardata.csv")
print(df.head(10))

        Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type Seller_Type Transmission  Owner
0           ritz  2014           3.35           5.59       27000    Petrol      Dealer       Manual      0
1            sx4  2013           4.75           9.54       43000    Diesel      Dealer       Manual      0
2           ciaz  2017           7.25           9.85        6900    Petrol      Dealer       Manual      0
3        wagon r  2011           2.85           4.15        5200    Petrol      Dealer       Manual      0
4          swift  2014           4.60           6.87       42450    Diesel      Dealer       Manual      0
5  vitara brezza  2018           9.25           9.83        2071    Diesel      Dealer       Manual      0
6           ciaz  2015           6.75           8.12       18796    Petrol      Dealer       Manual      0
7        s cross  2015           6.50           8.61       33429    Diesel      Dealer       Manual      0
8           ciaz  2016           8.75           8.89       20273    Diesel      Dealer       Manual      0
9           ciaz  2015           7.45           8.92       42367    Diesel      Dealer       Manual      0

In [75]:
# make sure if there is missing value or not
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [82]:
# know the duplicated rows
df.duplicated().sum() # 2 rows
# delete the duplicated rows
df = df.drop_duplicates()
df.duplicated().sum() # zero rows

np.int64(0)

In [77]:
# Find out which car can travel the lowest distance
df_min_kms = df[df.Kms_Driven == df["Kms_Driven"].min()]
df_min_kms

              Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type Seller_Type Transmission  Owner
133  Bajaj Avenger 220  2016           0.72           0.95         500    Petrol  Individual       Manual      0
165          Activa 3g  2016           0.45           0.54         500    Petrol  Individual    Automatic      0

In [78]:
# Find out which car can travel the lowest distance and lowest price
df_min_kms_price = df_min_kms[df_min_kms.Present_Price < df_min_kms["Present_Price"].max()]
df_min_kms_price

      Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type Seller_Type Transmission  Owner
165  Activa 3g  2016           0.45           0.54         500    Petrol  Individual    Automatic      0

In [79]:
# find out the largest price 
df_max_price = df[df.Present_Price == df["Present_Price"].max()]
df_max_price

        Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type Seller_Type Transmission  Owner
86  land cruiser  2010           35.0           92.6       78000    Diesel      Dealer       Manual      0

In [80]:
# Find out which car can travel the most distance
df_max_kms = df[df.Kms_Driven == df["Kms_Driven"].max()]
df_max_kms["Car_Name"]

196    Activa 3g
Name: Car_Name, dtype: object